html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form{
    background-color: rgba(9, 152, 255, 0.667);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 6px 15px 25px rgba(0, 0, 0, 0.258);
}
.title{
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 0px;
}
.input{ 
    padding: 10px;
    border-radius: 20px;
    border: 0px solid black;
}
.input:active{
    border: 0px solid black;
}
.submit{
    margin-top: 20px ;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    cursor: pointer;
}